<!DOCTYPE html>

<html>
	<head>
		<title>Tick Tac Toe</title>
		<link rel="stylesheet" type="text/css" href="styles.css?v=<%= styleVersion %>">
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script type="text/javascript">
			//Connect to socket
			var server = io.connect();
			var cells = [];
			
			function openLoadingScreen() {
				document.getElementById('loading').style.display = "block";
				document.getElementById('game').style.display = "none";
			}

			server.on("start", function (side) {
				//Tell the player what they are
				document.getElementById('side').innerHTML = side;
				document.getElementById('turn').innerHTML = "X";
				//Remove the connecting screen
				document.getElementById('loading').style.display = "none";
				document.getElementById('game').style.display = "block";

				//Empty chat
				document.getElementById('chatOutput').innerHTML = "";

				if(side != "X"){
					document.getElementById('waiting').style.display = "inline";
				}
			});

			//Receive messages
			server.on("chat", function (message) {

				var output = document.getElementById('chatOutput');

				output.innerHTML+= "<div>" + message+ "</div>\n";

				output.scrollTop = output.scrollHeight;

			});

			server.on("updateBoard", function (data) {

				//Update the board
				for(var x=0;x<data.board.length;x++){
					for(var y=0;y<data.board[x].length;y++){
						
						if(data.board[x][y] == -1){
							cells[x][y].style.backgroundImage="url('img/x.png')";
						}else if(data.board[x][y] == 1){
							cells[x][y].style.backgroundImage="url('img/o.png')";
						}else{
							cells[x][y].style.backgroundImage="none";
						}

					}
				}
				var waitingScreen = document.getElementById('waiting');

				//Change turn display
				if(data.turn){
					document.getElementById('turn').innerHTML = data.turn;
					if(data.turn != document.getElementById('side').innerHTML){

						//Show waitng screen
						waitingScreen.style.display = "inline-block";
					}else{
						//Hide waitng screen
						waitingScreen.style.display = "none";
					}
				}
			});

			server.on("gameover", function (result) {
				var output = "";

				if (result === -1) {
					output = "X Wins";
				}else if (result === 1) {
					output = "O Wins";
				}else{
					output = "Tie";
				}

				alert(output);
				
			});

			server.on("disconnect", function () {
				openLoadingScreen();
				alert('Lost connection to server.');
			});
			
			server.on('playerLeft', openLoadingScreen);

			//Submit button listener
			function btnSend(){
				var input = document.getElementById("txtMessage");

				if(input != ""){
					server.emit("message", input.value);
				}

				input.value = ""; 
			}

			function boxClick (e) {
				//Find the location
				for(var x=0;x<cells.length;x++){
					for(var y=0;y<cells[x].length;y++){

						if(cells[x][y] == e.target){
							//Tell the server about the placed block
							var piece = {};
							piece.x = x;
							piece.y = y;
							server.emit("place", piece);
							return;
						}

					}
				}
				
			}

			//--------------------------Loaded
			function loaded () {
				//Grab the table
				var table =document.getElementById('board').getElementsByTagName('table')[0];

				for(var i=0;i<3;i++){
					//Create row in array
					cells[i] = new Array();
					//Create row
					var newRow = document.createElement("tr");

					for(var k=0;k<3;k++){
						var cell = document.createElement("td");
						//Add click listener
						cell.onclick = boxClick;
						//Add to Array
						cells[i][k] = cell;
						//Add to row
						newRow.appendChild(cell);
					}
					//Add to table
					table.appendChild(newRow);

				}
			}

		</script>
	</head>

	<body onload="loaded();">
		<div id="loading">
			<img src="img/loading.gif">
			<h2>Finding a game...</h2>
		</div>

		<div id="game">

			<h2>Tic Tac Toe</h2>
			<p>
				You are playing as <span id="side"></span>
			</p>
			<h4>Currently playing: <span id="turn"></span></h4>

			<div id="board">

				<div style="position:relative;">
					<div id="waiting">
						<h4>Other Player is making their move</h4>
						<img src="img/waiting.gif">
					</div>
				</div>

				<table>
					
				</table>
			</div>
			<div id="chat">
				<div id="chatOutput">
				<!--Output Messages-->
				</div>
				<br/>
				<div id="chatInput">
					<form onsubmit="return false;">
						<input type="text" id="txtMessage" onkeypress="if (event.keyCode == 13){ btnSend();}">
						<input type="button" id="btnSubmit" value="Send" onclick="btnSend();">
					</form>
				</div>
			</div>

		</div>

	</body>

</html>