body{
	width: 900px;
	margin-right: auto;
	margin-left: auto;
}
	
#game > * {
    display: block;
    margin: 0 auto;
    text-align: center;
}
#board{
	display: block;
}

#game{
	display: none;
}


#loading{
	position: absolute;
	top:0;
	left:0;
	display:inline-block;
	background: #000000;
	text-align: center;
	color: #ffffff;
	height: 100%;
	width:100%;
}
#loading > img{
	width: 128px;
	height: 128px;
}

#waiting {
    background-image: url("img/waitingBackground.png");
    background-repeat: repeat;
    color: #FFFFCC;
    display: none;
    height: 230px;
    position: absolute;
    text-align: center;
    text-shadow: 3px 0 5px #000000;
    width: 230px;
    margin-left: -115px;
}

table,td{
	border-style: solid;
	border-color: #000000;
}
table{
	margin: 5px auto;
}

td{
	width: 64px;
	height: 64px;
	background-size:64px 64px;
}

/*****CHAT RULES*************/
#chat{
	margin-top:10px;
}
#chat>div{
	border-style: solid;
	border-width: 3px;
	display: inline-block;
}

#chatOutput{
	width:525px;
	height:200px;
	padding-top: 1px;
	margin-bottom: 5px;
	overflow-y:scroll;
	overflow-x:none;
	text-align: left;
}
#chatOutput > div {
    background-color: #EEEEEE;
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    word-wrap:break-word;
    white-space: pre-line;
}

#chatInput{
	width:525px;
}


#txtMessage {
    width: 450px;
}